<!--The content below is only a placeholder and can be replaced.-->

<div class="container text-center mt-5">

  <h1 class="display-4 mb-5">
    Welcome to {{ title }}'s app!
  </h1>

  <div class="row justify-content-center">
    <div class="col-sm-4">
      <div class="list-group">
        <a class="list-group-item" href="https://angular.io/tutorial">
          Tour of Heroes
        </a>
        <a class="list-group-item" href="https://github.com/angular/angular-cli/wiki">
          CLI Documentation
        </a>
        <a class="list-group-item" href="https://blog.angular.io/">
          Angular blog
        </a>
      </div>
    </div>
  </div>

</div>
