@import "../../../../../../variables";

:host {
  display: block;
}

.upload-item {
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  height: 3.125rem;
  border-bottom: 1px solid $px-grey-2;
}

.upload-item--header {
  flex-grow: 1;
}

.upload-item--file-name {
  max-width: 14rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-item--title-progress {
  font-weight: 300;
  font-size: .8rem;
}

.upload--item--actions {
  margin-left: 1rem;
}
