<div class="document-labels">
  <div class="input-group document-labels--input-wrap">
    <input type="text" class="form-control document-labels--form-control" placeholder="Search..." [formControl]="search">
  </div>
  <div class="document-labels--list">
    <div class="document-labels--action">
        <document-label class="document-labels--action-color" [label]="{ name: search.value, color: color.value }" (click)="openColorPicker()"></document-label>
        <input #colorPicker class="document-labels--action-colorPicker" type="color" [formControl]="color">
        <button class="btn document-labels--action-btn" (click)="createLabel()"> Create </button>
    </div>
    <document-label class="document-labels--item"
      *ngFor="let label of labels$ | async | filter:search.value:'name'"
      [label]="label"></document-label>
  </div>
</div>
