<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <px-form-group
    label="Email">
    <px-short-string
      type="email"
      formControlName="email">
    </px-short-string>
  </px-form-group>
  <px-form-group
    label="Message">
    <px-short-string
      type="message"
      formControlName="message">
    </px-short-string>
  </px-form-group>
  <p class="text-right text-muted">
    {{documents.length}} documents selected
  </p>
  <button class="btn btn-primary btn-block" type="submit">
    Share
  </button>
</form>
