<div class="login">
  <div class="login--header">
    <h3 class="login--header-title">Login</h3>
    <p class="login--header-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a porta diam. Nullam pretium sapien.</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onLogin()">
    <px-form-group
      label="Email">
      <px-short-string
        type="email"
        formControlName="email">
      </px-short-string>
      <px-validation-message
      controlName="email"
      [responseErrors]="errors"
      onError="required">
      An email address is required.
      </px-validation-message>
      <px-validation-message
        controlName="email"
        [responseErrors]="errors"
        onError="email">
        Please enter a valid email address.
      </px-validation-message>
    </px-form-group>
    <px-form-group
      label="Password">
      <span class="form-group--help">- <a href="/">Forgot Password?</a></span>
      <px-short-string
        type="password"
        formControlName="password">
      </px-short-string>
      <px-validation-message
        controlName="password"
        [responseErrors]="errors"
        onError="required">
        A password is required.
      </px-validation-message>
    </px-form-group>
    <px-form-group>
      <px-checkbox formControlName="remain_signed_in">
        Keep me signed in
      </px-checkbox>
    </px-form-group>
    <button class="btn btn-primary btn-block">
      LOG IN
    </button>
  </form>
  <div class="login--redirect">
    Don't have an account? <a routerLink="/auth/register">Register now</a>
  </div>
</div>
