<div class="header">
  <div class="header--logo">
    <img class="header--logo-img" src="/assets/images/logo-avatar.svg" alt="">
  </div>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">Navbar</a>
  </nav>
</div>
<div class="content">
  <div class="nav-sidebar">
    <ul class="nav flex-column nav-sidebar--links">
      <li *ngFor="let link of links"
        class="nav-link nav-sidebar--link"
        routerLinkActive="nav-sidebar--link__active"
        [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="[link.url]">
          <img [src]="link.icon" alt="">
        </a>
      </li>
    </ul>
  </div>
  <div class="dashboard">
    <router-outlet></router-outlet>
  </div>
</div>
<px-upload-progress></px-upload-progress>

